body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: blue;
    margin-top: 100px;
}

p {
    color: blue;
    font-size: 18px;
}
